body {
	margin: 0px auto;
	overflow: hidden;
}
.controller.xbox {
    background: url("https://i.imgur.com/0wGarZB.png");
    height: 200px;
    width: 1700px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
.xbox.disconnected {
    background: url("https://i.imgur.com/5SSxhHg.png");
}
/*stick*/
.xbox .sticks {
    position: absolute;
    width: 1000px;
    height: 100px;
    top: 60px;
    left: 407px;
}

.xbox .stick {
    position: absolute;
    background: url(xbox-assets/stick.svg);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .stick.pressed {
    background-position: 0 0;
}

.xbox .stick.left {
    top: 0;
    left: 0;
}

.xbox .stick.right {
    top: 0px;
    left: 626px;
}

/*abxy button*/
.xbox .abxy {
    position: absolute;
    width: 153px;
    height: 156px;
    top: 20px;
    left: 1197px;
}

.xbox .button {
    position: absolute;
    background: url(xbox-assets/abxy.svg);
    width: 48px;
    height: 48px;
}

.xbox .button.pressed {
    margin-top: 5px;
    opacity: 1;
}

.xbox .a {
    background-position: 0 0;
    top: 106px;
    left: 54px;
}

.xbox .b {
    background-position: -49px 0;
    top: 57px;
    right: 1px;
}

.xbox .x {
    background-position: -98px 0;
    top: 57px;
    left: 3px;
}

.xbox .y {
    background-position: 48px 0;
    left: 53px;
    top: 7px;
}

/*トリガー*/
.xbox .triggers {
    width: 1600px;
    height: 50px;
    position: absolute;
    top : 28px ;
    left: 50px;
}

.xbox .trigger {
    width: 275px;
    height: 46px;
    background-image: none ;
    background-color: #EEEEEE ; 
    border-radius: 3px;
    opacity: 0;
}

.xbox .trigger.left {
    float: left;
    background-position: 0 0;
}

.xbox .trigger.right {
    float: right;
    transform: rotateY(180deg);
}

/*バンパー周り*/

.xbox .bumpers {
    position: absolute;
    width: 1600px;
    height: 50px;
    left: 48px;
    top: 128px;
}

.xbox .bumper {
    width: 275px;
    height: 47px;
    background-image: none;
    background-color: #EEEEEE ; 
    border-radius: 3px;

    opacity: 0;
}

.xbox .bumper.pressed {
    opacity: 1;
}

.xbox .bumper.left {
    float: left;
}

.xbox .bumper.right {
    float: right;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*十字キー周り*/
.xbox .dpad {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 25px;
    left: 575px;
}

.xbox .face {
    background-image: none;
    background-color : #EEEEEE ;
    position: absolute;
    opacity: 0;
}

.xbox .face.pressed {
    border-radius: 4px;
    opacity: 1;
}

.xbox .face.up {
    background-position: 34px 0;
    left: 50px;
    top: 0px;
    width: 50px;
    height: 50px;
}

.xbox .face.down {
    left: 50px;
    bottom: 0;
    width: 50px;
    height: 50px;
}

.xbox .face.left {
    background-position: 0 -93px;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 1px;
}

.xbox .face.right {
    background-position: 0 -57px;
    width: 50px;
    height: 50px;
    top: 50px;
    right: -1px;
}

/*スタートボタン*/
.xbox .arrows {
    position: absolute;
    width: 180px;
    height: 110px;
    top: 26px;
    left: 772px;
}

.xbox .back, .xbox .start {
background-image : none ;
    background-color:#FFFFFF ;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    opacity: 0;
}

.xbox .back.pressed, .xbox .start.pressed {
    opacity: 1;
}

.xbox .back {
    left : 5px ;
}

.xbox .start {
    left : 5px ;
}

